<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro</title>
    <%include partials/head %>
</head>

<body>
    <div class="container-fluid h-100 ">
        <div class="row justify-content-center h-100 animated fadeindownbig div-res">
            <div class="col-6 card p-5 align-self-center div-res">
                <p class="text-center text-info-res">Se envio un correo electronico a <%=email%> con m&aacute;s instrucciones</p>
                <div class="col-9 mx-auto">
                    <a href="/" class="btn btn-block btn-sm btn-register">Regresar</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>